###################
# compiled source #
###################
target/
build/
out/
dist/
bin/
lib/
logs/
node/
node_modules/
.gradle/
.settings/
.project
.classpath
*.iml
.idea
.attach_*
suramadu-server-debug/webswing.log
suramadu-server/webswing.log
suramadu-server-launcher/webswing.log
suramadu-directdraw/suramadu-directdraw-server/.externalToolBuilders/
suramadu-server/.externalToolBuilders/
webswing.log
webswing.log.1
documentation/site/
git.properties
suramadu-admin/.externalToolBuilders/
suramadu-server/suramadu-server-war/overlays/
suramadu-server/suramadu-server-war/.externalToolBuilders/org.eclipse.wst.jsdt.core.javascriptValidator (1).launch
stats.log*
audit.log*
/.metadata/
/.recommenders/
*.unmodified_classes
*.unmodified_classes.lock
/tmp/
.openapi-generator-ignore
.openapi-generator
/CHANGELOG.md
